:root {
    --paynesgray: #395C6B;
    --nyanza: #EDF7D2;
    --carolinablue: #83B5D1;
}

* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--nyanza);
}

header, .icon__container {
    background-color: var(--paynesgray);
    color: var(--nyanza);
}

header {
    background: url(../images/woman-running-p.jpg);
    background-size: cover;
    background-position: left center;
    width: 100vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: .5rem;
}

header h1 {
    font-size: 3.5rem;
}

.span-blue {
    color: var(--carolinablue);
}

.header-title, .header-subtitle {
    margin-left: 2rem;
}

.header-subtitle {
    width: 60%;
}

.header-subtitle p {
    font-weight: bold;
    font-size: 1.2rem;
}
/*
header img {
    width: 250px;
    height: 100px;
    border-radius: 50%;
}
*/
.services__container {
    background-color: var(--paynesgray);
    color: var(--nyanza);
    height: 30vh;
    padding: 1rem;
}

.services__container h2, .topics__container h2 {
    font-size: 1.8rem;
    text-align: center;
}

.services__container p {
    text-align: justify;
    font-size: 1.1rem;
    margin-top: 1rem;
}

.topics__container {
    padding: 1rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.topics__container h2 {
    margin-top: 1rem;
}

.topic-card {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.icon-title__container {
    text-align: center;
}

.icon-title__container i {
    font-size: 2rem;
}